@media (max-width: 850px) {
    .weather-day td{
        display: flex;
        align-items: center;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
    }
    .table-forecast table, thead, tbody, th, td, tr {
        display: block;
    }

    .no-tr{
        display: flex;
    }
    .no-tr td{
        text-align: center;
        width: 49%;
    }
    .no-tr td p{
        text-align: center;
        width: 100%;
    }
    .table-forecast .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
        padding: 0;
        padding-left: 180px;
    }
    .table-forecast td:before {
        width: 66%;
    }
    .table-forecast thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table-forecast tr { border: 1px solid #ccc; }

    .table-forecast td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .table-forecast td:before {
        position: absolute;
        top: 0px;
        left: 6px;
        padding-right: 10px;
        white-space: nowrap;
    }

    .table-forecast td:nth-of-type(1):before { content: "Date:"; }
    .table-forecast td:nth-of-type(2):before { content: " "; }
    .table-forecast td:nth-of-type(3):before { content: "Temp:"; }
    .table-forecast td:nth-of-type(4):before { content: "Pressure:"; }
    .table-forecast td:nth-of-type(5):before { content: "Humidity:"; }
    .table-forecast td:nth-of-type(6):before { content: "Weather:"; }
    .table-forecast td:nth-of-type(7):before { content: "Clouds:"; }
    .table-forecast td:nth-of-type(8):before { content: "Wind:"; }
    .table-forecast td:nth-of-type(9):before { content: "Rain:"; }
    .table-forecast td:nth-of-type(10):before { content: "Snow:"; }
}
@media (max-width: 400px) {
    .weather-day td {
        margin-left: 20px;
        margin-right: 20px;
    }
    .table-forecast td:before {
        width: 40%;
    }
    .table-forecast .ant-table-thead > tr > th, .ant-table-tbody > tr > td  {
        padding: 0;
        padding-left: 120px;
    }
}

@media (max-width: 850px){
    .weather-day thead:nth-child(1){
        margin-left: 20px;
    }
}

